<% include public/head %>
<script src="../ckeditor/ckeditor.js"></script>
<body id=add>
<% include public/nav %>
<form action="/admin/articles/add" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>

    <div class="form-group">
        <label>Category</label>
    <select multiple="multiple" name="cids" class="form-control multiselect multiselect-info" data-toggle="select" style="width: 100%">
        <% categorys.forEach(function(category){ %>
        <option value="<%= category._id %>"><%= category.cname %></option>
        <% }) %>
    </select>
    </div>
    <textarea name="content" id="editor1"></textarea>

    <input type="submit"  class="btn btn-info" value="发布文章">

</form>



<% include public/foot %>

<script>
    CKEDITOR.replace( 'editor1' );
</script>
