<% include public/head %>
<body id=add>
<% include public/nav %>

  <a href="/admin/home">返回主页</a>

    <h1>文章添加页</h1>
    <form action="/admin/articles/add" method="post">
       <label class="form-control" name='title'>标题</label>
       <input type="text" name="title" >
      
       <label class="form-control">类别</label>
       <div class="well">
          <input type="text" class="span3" id="search" name ='cname' data-provide="typeahead" data-items="4" />
        </div>

         <label class="form-control" name='conten'>内容</label>
       <input type="text" name="conten"  id="content">
       
        <div class="grid-container ckeditor">
        <div class="grid-width-100">
          <div id="editor">
            <h1>Hello world!</h1>
            <p>I'm an instance of <a href="http://ckeditor.com">CKEditor</a>.</p>
          </div>
        </div>
      </div>

       <input type="submit"  class="btn btn-info" value="发布文章">
    </form>

   
<% include public/foot %>
<script src="../ckeditor/ckeditor.js"></script>