

<% include public/head %>
<body id=article>
<% include public/nav %>
<table class="table table-striped table-hover text-left" style="margin-top:40px">
    <thead>
    <tr>
        <th class="col-md-3">TITLE</th>
        <th class="col-md-2">AUTHOR</th>
        <th class="col-md-3">CATEGORY</th>
        <th class="col-md-2">TIME</th>
        <th class="col-md-2">
        </th>
    </tr>
    </thead>
    <tbody>
    <% articles.forEach(function(article){ %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.title %></td>
        <td><%= article.title %></td>
        <td><%= article.title %></td>
        <td>
            <button class="btn btn-primary btn-xs">编辑</button>
            <button class="btn btn-warning btn-xs">删除</button>
        </td>
    </tr>
    <% }) %>

    </tbody>
</table>
<% include public/foot %>