<% include public/head %>
<body>
<% include public/nav %>
<table class="table table-striped table-hover text-left" style="margin-top:40px">
    <thead>
    <tr>
        <th class="col-md-2">#UID</th>
        <th class="col-md-4">USERNAME</th>
        <th class="col-md-4">PASSWORD</th>
        <th class="col-md-2"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>deswan</td>
        <td>deswan</td>
        <td>
            <button class="btn btn-warning btn-xs">删除</button>
        </td>
    </tr>

    </tbody>
</table>
  
  <% include public/foot %>