<% include public/head %>
<body>
<% include public/nav %>

<a href="/admin/home">返回主页</a>
<h1>用户列表页</h1>

<% if(success){ %>
<span ><%=success%></span>
<% }else{ %>
<span>sadadadasd</span>
<%  } %>

<form action="/admin/users/add" method="post">
<div class="form-group">
<label>用户名</label>
<input type="text" name="username">
</div>
<div class="form-group">
<label>用户密码</label>
<input type="text" name="password">
</div>
<input  type="submit" class="btn btn-info"  value="新建用户">
</form>

<% if(!users.length){ %>
<h3>亲～，还没有用户注册哦～</h3>
<%  }else{  %>
    <table class='table'>
    <tr>
        <th>用户名字</th>
        <th >用户密码</th>
        <th >操作</th>
    </tr>
    <%  users.forEach(function(user){  %>
      <tr>
      <td><%= user.name %></td>
      <td><%= user.password %></td>
      <td>
      <a href="/admin/users/delete/<%= user._id %>" onclick="confirm('你确定要删除吗？');"><button type="button" name="delete" class="btn btn-danger" >删除</button></a>
      </td>
      </tr>
    <% }) %>
    </table>
    <% } %>
  
  <% include public/foot %>