<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="dist/css/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
    a{margin-left: 20px; text-decoration: none;}
    a:hover{text-decoration: underline;}
    </style>
  </head>
  <body>
  <h1>Your name:  <%= name %></h1>
    <p>Welcome to your home ~</p>
    <p><a href="/logout">我要注销 </a><a href="/profic">个人中心</a><a href="/changepsw">修改密码</a>
    </p>
  </body>
</html>