<!DOCTYPE html>
<html>
  <head>
    <title><%= list.title %></title>
    <link rel='stylesheet' href="//cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  </head>
  <body>
  
<h1>文章详情页</h1>
<h3><%= list.title %></h3>
<p><%= list.conten %></p>

  </body>
</html>
